.logo{
    height: 6vh;
    width: auto;
}
.header{
    height:5vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;
}
.listContainer{
    display: flex;
    font-size:2vmin;
    justify-content: space-between;
    width: 50%;
    height: min-content;
    margin: auto 2%;
    padding: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.listItem{
    cursor: pointer;
    transition: all .4s;
}
.listItem:hover{
    transform: translateY(-30%);
}
@media(max-width:1200px){
    .listContainer{
        display: flex;
        font-size:2vmin;
        justify-content: space-between;
        width: 60%;
        height: min-content;
        margin: auto 2%;
        padding: auto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

@media(max-width:500px){
    .listContainer{
        display: flex;
        font-size:3.5vmin;
        justify-content: space-between;
        width: 65%;
        height: min-content;
        margin: auto 2%;
        padding: auto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}
a{
    all: unset;
     cursor: pointer;
}