.cardContain{
    display: grid;
    flex-wrap: wrap;
    width: 95vw;
    grid-template-columns: 1fr 1fr;
}
.titleNews{
    font-size: 1vw;
}
.titleNews2{
    font-size: 2vw;
}

@media(max-width:400px){
    .cardContain{
        display: grid;
        flex-wrap: wrap;
        width: 95vw;
        grid-template-columns: 1fr;
    }
    .titleNews{
        font-size: 2vw;
    }
    .titleNews2{
        font-size: 3vw;
    }
}